.ui.menu .item {
	height: 55px;
	vertical-align: middle;
}
.ui.secondary.pointing.menu .ui.container .item:hover {
	border-bottom-color: rgb(103, 107, 112);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: -2px;
}